
.validacion{
	color:red;
}

.somos img{
	margin: 0 auto;
}

.notificacion{
	border-radius: 5px;
	background-color: #9A9A9D;
	color: #fff;
	font-size: 20px;
	padding: 6px;
}

.contact2-textarea {
     height: 104px;
}

.contact2-page-form .btn {
    color: #6d6d6d;
}

.uib-timepicker input {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #333;
    background-color: #FDCF01;
    border-color: #0082CB;
}

.amarillo{
	color: #FFD300 !important;
}

.btn-amarillo{
	background-color: #FFD300 !important;
}

.gris{
	color: #bcbec0;
}

.valor{
	text-align: center;
	width: 100%;
	height:auto;
}

.valor img{
	width: 100%;
}

.doctor-box img {
    height: 200px;
}

#doctor-second-style .feature {
    width: 50%;
}

#doctor-second-style .feature-details {
    width: 50%;
}

#doctor-second-style h2 {
	padding-left: 0.5em;
}


/* Inicia estilo del chat */

#chat{
	bottom: 0;
	position: fixed;
	right: 10px;
	width: 350px;
	z-index: 101;
}

.chat-body{
	color: #2f3232;
	position: relative;
}

.chat-header{
	border-radius: 10px 10px 0px 0px;
	background: #FFD300 !important;
	padding: 1em;
	cursor: pointer;
}

.chat-header h4{
	margin: 0;
}

.chat-content{
	background: white;
	box-shadow: 0px 6px 15px rgba(0,0,0,0.9);
	height: 400px;
	padding: 0.5em;
}

.chat-messages{
	height: 100%;
	position: relative;
}

.messages-header{
	border-bottom: 1px solid #9A9A9D;
	position: relative;
	top: 0;
}

.messages-footer{
	border-top: 1px solid #9A9A9D;
	padding-top: 0.5em;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.message-body{
	height: 270px;
	width: 100%;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
}


.messages-footer input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
.messages-footer button { width: 19%; border: none }


.bubbledLeft,.bubbledRight {
    margin-top: 20px;
    padding: 5px 9px;
    max-width: 50%;
    clear: both;
    position: relative;
}

.bubbledLeft{
    float: left;
    margin-right: auto;
    border-radius: 8px 8px 8px 0px;
    background-color: #65B045;
    color: #ffffff;
}

.bubbledLeft:before {
    border-bottom: 10px solid #65B045;
    border-left: 9px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    left: -8px;
    content: "";
}

.bubbledRight{
    float: right;
    margin-left: auto;
    text-align: right;
    border-radius: 8px 8px 0px 8px;
    background-color: #07D;
    color: white;
}

.bubbledRight:before {
    border-bottom: 9px solid #07D;
    border-right: 9px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    right: -8px;
    content: "";
}

.link-tel,
.link-tel:link,
.link-tel:hover,
.link-tel:active,
.link-tel:visited, {
	color: #939598 !important;
	text-decoration: none;
}
/* termina etstilo del chat */


.servicios{
	background: #459ccc; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #459ccc 0%, #0082cd 74%, #107fc9 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #459ccc 0%,#0082cd 74%,#107fc9 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #459ccc 0%,#0082cd 74%,#107fc9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#459ccc', endColorstr='#107fc9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color: white;
	font-size: 20px;
}

.fa-sm{
	font-size: 0.8em !important;
	padding-top: 0.4em;
}

.btn-container{
	margin: 1.5em;
}

.espacio{
	margin-top: 2em;
}

.espacio-lg{
	margin-top: 4em;
}

.somos{
	background: #F8F8F8;
	background-image: url('../images/bone2.png') !important;
  background-position: bottom center;
  background-repeat: no-repeat;
	font-size: 16px;
}

.link-dev {
color: #bcbec0;
}

.gris > a:hover{
	color: #676a6d;
}

.offline-aviso{
	background-color: #b71c1c;
	color: #FFF;
	font-weight: bold;
}

.avisoSwitch{
	display: none;
}

@media (max-width:991px) {
	.topbar-info{
		display: none !important;
	}
}
