
.validacion{
	color:red;
}

.somos img{
	margin: 0 auto;
}

.notificacion{
	border-radius: 5px;
	background-color: #9A9A9D;
	color: #fff;
	font-size: 20px;
	padding: 6px;
}

.contact2-textarea {
     height: 104px; 
}

.contact2-page-form .btn {
    color: #6d6d6d;
}

.uib-timepicker input {
    padding-left: 0px !important; 
    padding-right: 0px !important; 
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #333;
    background-color: #FDCF01;
    border-color: #0082CB;
}

.amarillo{
	color: #FFD300 !important;
}

.gris{
	color: #9A9A9D !important;
}

.valor{
	text-align: center;
	width: 100%;
	height:auto;
}

.valor img{
	width: 100%;
}

.doctor-box img {
    height: 200px;
}

#doctor-second-style .feature {
    width: 50%;
}

#doctor-second-style .feature-details {
    width: 50%;
}

#doctor-second-style h2 {
	padding-left: 0.5em;
}


/* Inicia estilo del chat */

#chat{
	bottom: 0;
	position: fixed;
	right: 10px;
	width: 350px;
	z-index: 101;
}

.chat-body{
	color: #2f3232;
	position: relative;
}

.chat-header{
	border-radius: 10px 10px 0px 0px;
	background: #FFD300 !important;
	padding: 1em;
	cursor: pointer;
}

.chat-header h4{
	margin: 0;
}

.chat-content{
	background: white;
	box-shadow: 0px 6px 15px rgba(0,0,0,0.9);
	height: 400px;
	padding: 0.5em;
}

.chat-messages{
	height: 100%;
	position: relative;
}

.messages-header{
	border-bottom: 1px solid #9A9A9D;
	position: relative;
	top: 0;
}

.messages-footer{
	border-top: 1px solid #9A9A9D;
	padding-top: 0.5em;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.message-body{
	height: 270px;
	width: 100%;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden; 
}


.messages-footer input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
.messages-footer button { width: 19%; border: none }


.bubbledLeft,.bubbledRight {
    margin-top: 20px;
    padding: 5px 9px;
    max-width: 50%;
    clear: both;
    position: relative;
}

.bubbledLeft{
    float: left;
    margin-right: auto;
    border-radius: 8px 8px 8px 0px;
    background-color: #65B045;
    color: #ffffff;
}

.bubbledLeft:before {
    border-bottom: 10px solid #65B045;
    border-left: 9px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    left: -8px;
    content: "";
}

.bubbledRight{
    float: right;
    margin-left: auto;
    text-align: right;
    border-radius: 8px 8px 0px 8px;
    background-color: #07D;
    color: white;
}

.bubbledRight:before {
    border-bottom: 9px solid #07D;
    border-right: 9px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    right: -8px;
    content: "";
}


/* termina etstilo del chat */